<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <ul>
        <% images.forEach((image) => { %>
            <li>
                <h3> <%= image.name %> </h3>
                <img src="<%= image.url %>" alt="a dog">
            </li>
            <hr>
            <% }) %>
    </ul>
</body>
</html>